{% extends "survey/base.html" %}

{% block content %}
    

    <div class="container">
        <div class="row">
            <h2 class="text-center">ATTENTION</h2>
        </div>
        <div class="row d-grid col-6 mx-auto text-center">
            <p class="lead"><strong><u>오늘은 {{ today }} 입니다.</u></strong></p>
            
            <p class="lead"><strong><u>설문을 진행하면서 그래프에 문제가 있어 보인다면 입력란에 ‘오류’라고 입력하시고 ‘NEXT’ 버튼을 클릭해주시기 바랍니다.</u></strong></p>

            <p class="lead"><strong>‘NEXT’ 버튼을 클릭하시면 설문이 시작됩니다.</strong></p>
        </div>
        <div class="d-grid col-4 mx-auto">
            <button style="margin-bottom: 10%;" type="button" class="btn btn-dark btn-lg" onclick="location.href='problem/1'">NEXT</button>
        </div>
        

    </div> 

{% endblock %}