{% extends "survey/base.html" %}

{% block content %}
    

    <div class="container">
        <div class="row">
            <h2 class="text-center">EXAMPLE</h2>
        </div>
        <div class="row d-grid col-6 mx-auto text-center">
            <p class="lead"><strong>아래 그림은 본 프로젝트에서 예상하는 최종 결과물로 사용자가 질문(‘5월에 얼마나 걸었어?’, ‘저번달이랑 이번달 비교해줘!’)을 하면 이에 대한 답을 그래프로 보여주고자 합니다. 
            </strong></p>
        </div>
        <div class="row d-grid col-3 mx-auto text-center">
            <img src="/static/img/ex.png">
        </div>
        <div class="row d-grid col-6 mx-auto text-center">
            <p class="lead"><strong><u>본 설문에서는 문제로 그래프가 주어질 것입니다. 여러분은 문제에 보여지는 그래프를 보고 그래프를 보기 위해 어떻게 질문할지 입력란에 입력해주시면 됩니다.</u></strong> </p>
            
            <p class="lead"><strong>'NEXT' 버튼을 클릭해주시기 바랍니다.</strong></p>
        </div>
        <div class="d-grid col-4 mx-auto">
            <button style="margin-bottom: 10%;" type="button" class="btn btn-dark btn-lg" onclick="location.href='attention'">START</button>
        </div>
        

    </div> 

{% endblock %}