{% extends "survey/base.html" %}

{% block content %}
    

    <div class="container">
        <div class="row">
            <h2 class="text-center">EXAMPLE</h2>
        </div>
        <div class="row d-grid col-6 mx-auto text-center">
            <p class="lead"><strong>아래 그림은 우리의 프로젝트에서 예상하는 최종 결과물로 
                <u>사용자가 질문(‘5월에 얼마나 걸었어?’, ‘저번달이랑 이번달 비교해줘!’)을 하면 이에 대한 답을 시각화로 보여주고자 합니다.</u>                
            </strong></p>
        </div>
        <div class="row d-grid col-3 mx-auto text-center">
            <img src="/static/img/ex.png">
        </div>
        <div class="row d-grid col-6 mx-auto text-center">
            <p class="lead"><strong>본 설문에서는 질문에 대한 시각화 매칭을 목적으로 다양한 그래프를 나타내기 위한 질문을 수집하고자 합니다.</strong> </p>
            
            <p class="lead"><strong>'NEXT' 버튼을 클릭해주시기 바랍니다.</strong></p>
        </div>
        <div class="d-grid col-4 mx-auto">
            <button style="margin-bottom: 10%;" type="button" class="btn btn-dark btn-lg" onclick="location.href='problem_example'">NEXT</button>
        </div>
        

    </div> 

{% endblock %}