{% extends "survey/base.html" %}

{% block fcback %}
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script> 
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class="text-center">EVENT</h2>
    </div>

    <div class="row d-grid col-6 mx-auto text-center">
            
        <p  class="lead"><strong>설문에 응해주셔서 감사합니다. <br>설문조사 완료자에 한하여 리워드를 제공합니다. 
            리워드 제공을 위해 아래의 응답란에 휴대폰 번호를 입력해주시기 바랍니다. </strong></p>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row d-grid col-6 mx-auto text-center">
            <input type="text" class="form-control-lg" placeholder="'-'를 제외하고 숫자만 입력해주세요." name="ph_num"id="ph_num" minlength="10" required>   
        </div>
        
        <div class="d-grid col-4 mx-auto">
            <input style="margin-bottom: 10%;" type="submit" class="btn btn-lg btn-dark" value="SUBMIT">
        </div>

    </form>

</div>

<script>
    const ph_num = document.getElementById('ph_num');

    ph_num.addEventListener('invalid', e => {
    // 필수 항목을 누락한 경우
    if (ph_num.validity.valueMissing) {
        ph_num.setCustomValidity('해당 문항은 필수 항목입니다.');

    // 데이터 유효성 검사를 통과한 경우
    } else {
        ph_num.setCustomValidity('');
    }
  })

  
</script>

{% endblock %}