{% extends "survey/base.html" %}

{% block fcback %}
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script> 
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h2 class="text-center">EVENT</h2>
    </div>

    <div class="row d-grid col-6 mx-auto text-center">
            
        <p  class="lead"><strong>설문에 응해주셔서 감사합니다. 추첨을 통해 기프티콘을 증정하오니 아래 문항에 휴대폰 번호를 기재한 후 'SUBMIT' 버튼을 클릭해주시기 바랍니다. </strong></p>
        <p  class="lead"><strong>만약 원하지 않으시면 바로 'SUBMIT'버튼을 클릭해주시기 바랍니다.</strong></p>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="row d-grid col-6 mx-auto text-center">
            <input type="text" class="form-control-lg" placeholder="'-'를 제외하고 숫자만 입력해주세요." name="ph_num">   
        </div>
        
        <div class="d-grid col-4 mx-auto">
            <input style="margin-bottom: 10%;" type="submit" class="btn btn-lg btn-dark" value="SUBMIT">
        </div>

    </form>

</div>

{% endblock %}