{% extends "survey/base.html" %}

{% block content %}
    

    <div class="container">
        <div class="row">
            <h1 class="text-center">INTRODUCE</h1>
        </div>
        <div class="row d-grid col-6 mx-auto text-center">
            <p  class="lead"><strong>본 설문은 챗봇기반의 데이터 시각화 인공지능 모델을 만들기 위한 <br>데이터를 수집하기 위해 개발되었습니다.</strong></p>
            <p class="lead"><strong><u>설문은 총 30문항으로 이루어져 있으며 모두 같은 유형이지만 각각 다른 시각화를 보여줄 것입니다. 
                각 시각화는 2020년도 1월부터 오늘까지의 걸음 수 데이터로 일별, 주별 평균, 월별 평균 등의 시각화를 보여줄 것입니다.
                </u></strong> </p>
            <p class="lead"><strong>설문을 시작하려면 'START' 버튼을 클릭해주시기 바랍니다.</strong></p>
        </div>
        <div class="d-grid col-4 mx-auto">
            <button style="margin-bottom: 10%;" type="button" class="btn btn-dark btn-lg" onclick="location.href='example'">START</button>
        </div>
        

    </div> 

{% endblock %}