{% extends "survey/base.html" %}

{% block content %}
    

    <div class="container">
        <div class="row">
            <h1 class="text-center">INTRODUCE</h1>
        </div>
        <div class="row">
            <p  class="lead">설문조사가  시작됩니다.설문조사가  시작됩니다.설문조사가  시작됩니다.설문조사가  
                시작됩니다.설문조사가  시작됩니다.설문조사가  시작됩니다.설문조사가  시작됩니다.
                설문조사가  시작됩니다.설문조사가  시작됩니다.설문조사가  시작됩니다.설문조사가  
                설문조사가  시작됩니다.설문조사가  시작됩니다.설문조사가  시작됩니다.시작됩니다.</p>
        </div>
        <div class="d-grid col-4 mx-auto">
            <button type="button" class="btn btn-dark btn-lg" onclick="location.href='problem'">START</button>
        </div>
        

    </div> 

{% endblock %}