{% extends "survey/base.html" %}

{% block content %}
    
<div class="container">
    <div class="row">
        <h1 class="text-center">연구 참가 동의서</h1>
    </div>

    <div class="row d-grid col-6 mx-auto text-center">

        <p  class="lead"><strong>본 연구는 “대화형 AI 기반 지능형 데이터 시각화 분석 시스템 개발”에 대한 연구로, 본 설문조사의 목적은 인공지능 모델을 만들기 위한 데이터 수집입니다. 
            설문조사 참가자께서는 아래 내용을 신중하게 읽어보신 후 진행하시기 바랍니다.</strong></p>

        <p  class="lead"><strong>본 연구에서는 사용자의 질의에 대한 응답을 시각화로 나타내기 위한 챗봇을 개발하고 있습니다. 
            이러한 기능을 수행하는 인공지능 모델을 만들기 위해서 학습데이터 수집을 목적으로 본 설문조사를 실시하고자 합니다.</strong></p>

        <p  class="lead"><strong>문제는 총 15문항으로 이루어져 있으며 각각 다른 시각화를 보여드릴 것입니다. 
            2020년도 1월부터 오늘까지의 걸음 수 데이터로 구성된 일별, 주별 평균, 월별 평균 등의 시각화를 보시고, 설문조사 참가자께서는 해당 시각화를 보려고 할 때 챗봇에게 어떻게 질문을 할지 입력해주시면 됩니다. 
            본 설문조사는 크롬환경에서 진행되어야하며, 약 20분 정도 소요될 것입니다.</strong></p>

        <p  class="lead"><strong>설문조사를 완료한 참가자들에 한해서 추첨을 통해 기프티콘이 문자로 발송됩니다.</strong></p>

        <p  class="lead"><strong>본 설문조사에서는 [개인정보보호법]에 의거하여, 홈페이지 설문조사 시 아래와 같은 내용으로 개인정보를 수집 및 이용하고 있습니다. </strong></p>
    </div>

    <div class="row d-grid col-7 mx-auto text-center">
        <table class="table table-bordered">
            <thead> 
                <tr> 
                    <th style="width: 20%;">수집 목적</th> 
                    <th style="width: 20%;">수집  항목</th> 
                    <th style="width: 60%;">보유 및 이용기간</th> 
                </tr> 
            </thead>

            <tbody>
                <tr> 
                    <td>설문조사 당첨자 기프티콘 발송</td> 
                    <td>휴대폰 <br>번호</td> 
                    <td>설문조사 참여부터 기프티콘 발송 후 유효기간 만료시점까지 이용 및 보관</td> 
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row d-grid col-6 mx-auto text-center">
        <p  class="lead"><strong>설문조사 참가자께서는 위의 내용을 읽었고 충분히 이해하셨으며, 이에 동의하시면 아래의 ‘동의합니다' 버튼을 클릭해주시기 바랍니다.</strong></p>
    </div>

    <div class="d-grid col-4 mx-auto">
        <button style="margin-bottom: 10%;" type="button" class="btn btn-dark btn-lg" onclick="location.href='example'">동의합니다</button>
    </div>

</div>

{% endblock %}