{% extends "survey/base.html" %}

{% block content %}

    <div class = "container">
        <div class="row">
            <h3>Q. 다음 시각화를 보기 위해서 챗봇에게 질문할 텍스트를 입력해주세요.</h3> 
        </div>
    
        <div class="d-grid justify-content-md-center">
            <div class="col-md-8" id="chart"></div>
        </div>
 
        <form>
            <div class="row">
                <textarea class="form-control-lg" placeholder="텍스트를 입력해주세요" rows="5"></textarea>
            </div>
            
            <div class="d-grid col-4 mx-auto">
                {% if next_page_index == 31 %}
                <a class="btn btn-lg btn-dark" href="{% url 'result' %}" role="button">NEXT</a>
                {% else %}
                <a class="btn btn-lg btn-dark" href="{% url 'problem' next_page_index %}" role="button">NEXT</a>
                {% endif %}
            </div>
    
        </form>

    </div>

    <script>
        var label = "{{ label }}";
        var date_1 = "{{ date_1 }}".replace(/&#x27;/g, "\"");
        var date_2 = "{{ date_2 }}".replace(/&#x27;/g, "\"");
        var stepcount_1 = "{{ stepcount_1 }}".replace(/&#x27;/g, "\"");
        var stepcount_2 = "{{ stepcount_2 }}".replace(/&#x27;/g, "\"");
        var legend_value = "{{ legend_value }}".replace(/&#x27;/g, "\"");
        date_1 = JSON.parse(date_1);
        date_2 = JSON.parse(date_2);
        stepcount_1 = JSON.parse(stepcount_1);
        stepcount_2 = JSON.parse(stepcount_2);

        if(label == 'Compare') {
            $.getScript("../../static/js/linechart.js");
        }
        else {
            $.getScript("../../static/js/barchart.js");
        }
    </script>
{% endblock %}