{% extends "survey/base.html" %}

{% block fcback %}
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script> 
{% endblock %}

{% block content %}

    <div class = "container">
        <div class="row">
            <h4 style="line-height: 150%;">Q{{ page_index }}.  
                아래의 그림은 모바일 화면에서 버튼을 선택하여 오른쪽 그림과 같은 결과를 얻는 과정을 나타내고 있습니다. 
                이 과정을 챗봇에게 묻는다면 어떻게 물어볼지 응답란에 입력해주시기 바랍니다. 
                 </h4> 
            <h5 style="line-height: 150%;">
                (참고) 오른쪽 그래프는 {{ date_period }}에 해당하는 기간을 나타내고 있습니다.
            </h5>
        </div>
    
        <div class="row">
            <div class="col-md-2">
                {% if description == "최근 1주" %}
                    <img src="/static/img/option/1주.png">
                {% elif description == "최근 2주" %}
                    <img src="/static/img/option/2주.png">
                {% elif description == "최근 3주" %}
                    <img src="/static/img/option/3주.png">
                {% elif description == "최근 4주" %}
                    <img src="/static/img/option/4주.png">
                {% elif description == "이번달" %}
                    <img src="/static/img/option/이번달.png">
                {% elif description == "최근 2달" %}
                    <img src="/static/img/option/2개월.png">
                {% elif description == "최근 3달" %}
                    <img src="/static/img/option/3개월.png">
                {% elif description == "최근 6달" %}
                    <img src="/static/img/option/6개월.png">
                {% elif description == "최근 12달" %}
                    <img src="/static/img/option/12개월.png">

                {% elif description == "저번주" %}
                    <img src="/static/img/option/저번주.png">
                {% elif description == "저번달" %}
                    <img src="/static/img/option/저번달.png">
                {% elif description == "n월" %}
                    
                    {% if date_1.0|slice:"0:2" == "1월" %}
                        <img src="/static/img/option/N월/1월.png"> 
                    {% elif date_1.0|slice:"0:2" == "2월" %}
                        <img src="/static/img/option/N월/2월.png">
                    {% elif date_1.0|slice:"0:2" == "3월" %}
                        <img src="/static/img/option/N월/3월.png">
                    {% elif date_1.0|slice:"0:2" == "4월" %}
                        <img src="/static/img/option/N월/4월.png">
                    {% elif date_1.0|slice:"0:2" == "5월" %}
                        <img src="/static/img/option/N월/5월.png">
                    {% elif date_1.0|slice:"0:2" == "6월" %}
                        <img src="/static/img/option/N월/6월.png">
                    {% elif date_1.0|slice:"0:2" == "7월" %}
                        <img src="/static/img/option/N월/7월.png">
                    {% elif date_1.0|slice:"0:2" == "8월" %}
                        <img src="/static/img/option/N월/8월.png">
                    {% elif date_1.0|slice:"0:2" == "9월" %}
                        <img src="/static/img/option/N월/9월.png">
                    {% elif date_1.0|slice:"0:2" == "10월" %}
                        <img src="/static/img/option/N월/10월.png">
                    {% elif date_1.0|slice:"0:2" == "11월" %}
                        <img src="/static/img/option/N월/11월.png">
                    {% else %}
                        <img src="/static/img/option/N월/12월.png">
                    {% endif %}
                    
                {% elif description == "n월 ~ m월" %}
                    <img src="/static/img/option/N월 ~ M월.png">
                {% elif description == "n월 m일부터 n'월 m'일까지" %}
                    <img src="/static/img/option/특정기간.png"> 

                {% elif description == "주별 비교" %}
                    <img src="/static/img/option/비교/주별.png">
                {% elif description == "월별 비교" %}
                    <img src="/static/img/option/비교/월별.png">
                {% elif description == "연도별 비교" %}
                    <img src="/static/img/option/비교/연도별.png">
                {% elif description == "연도별 월별 비교" %}
                    <img src="/static/img/option/비교/연도별월별.png">
                {% elif description == "이번주 저번주 비교" %}
                    <img src="/static/img/option/비교/이번주저번주.png">
                {% elif description == "이번달 저번달 비교" %}
                    <img src="/static/img/option/비교/이번달저번달.png">
                {% endif %}
                  
            </div>

            <div class="col-md-10" id="chart"></div>
        </div>
 
        <form action="{% url 'problem' next_page_index %}" method="post">
            {% csrf_token %}
            <div class="row">
                <textarea class="form-control-lg" placeholder="텍스트를 입력해주세요" rows="5" name="answer" id="answer" minlength = "5" required></textarea>
            </div>
            
            <div class="d-grid col-4 mx-auto">
                <input style="margin-bottom: 10%;" type="submit" class="btn btn-lg btn-dark" value="NEXT">
            </div>
    
        </form>

    </div>

    <script>
        const answer = document.getElementById('answer');

        answer.addEventListener('invalid', e => {
        // 필수 항목을 누락한 경우
        if (answer.validity.valueMissing) {
            answer.setCustomValidity('해당 문항은 필수 항목입니다.');

        // 데이터 유효성 검사를 통과한 경우
        } else {
            answer.setCustomValidity('');
        }
      })
      
    </script>

    <script>
        var label = "{{ label }}";
        var date_1 = "{{ date_1 }}".replace(/&#x27;/g, "\"");
        var date_2 = "{{ date_2 }}".replace(/&#x27;/g, "\"");
        var stepcount_1 = "{{ stepcount_1 }}".replace(/&#x27;/g, "\"");
        var stepcount_2 = "{{ stepcount_2 }}".replace(/&#x27;/g, "\"");
        var legend_value = "{{ legend_value }}".replace(/&#x27;/g, "\"");
        var y_value = "{{ y_value }}".replace(/&#x27;/g, "\"");
        date_1 = JSON.parse(date_1);
        date_2 = JSON.parse(date_2);
        stepcount_1 = JSON.parse(stepcount_1);
        stepcount_2 = JSON.parse(stepcount_2);

        if(label == 'Compare') {
            $.getScript("../../static/js/linechart.js");
        }
        else {
            $.getScript("../../static/js/barchart.js");
        }
    </script>
{% endblock %}