{% extends "survey/base.html" %}

{% block content %}

    <div class = "container">
        <div class="row">
            <h3>Q. 다음 시각화를 보기 위해서 챗봇에게 질문할 텍스트를 입력해주세요.</h3> 
        </div>
    
        <div class="d-grid col-6 mx-auto">
            <p>시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)
                시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)
                시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)
                시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)시각화(js 사용)
            </p>
        
            <!-- <script>
                
            </script> -->
        </div>
 
        <form>
            <div class="row">
                <textarea class="form-control-lg" placeholder="텍스트를 입력해주세요" rows="5"></textarea>
            </div>
            
            <div class="d-grid col-4 mx-auto">
                <button type="button" class="btn btn-dark btn-lg" onclick="location.href='result'">NEXT</button>
            </div>
    
        </form>

    </div>
{% endblock %}